.card{
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    background: white;
}

.card img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    transition: 0.4s;
}

body{
    background: linear-gradient(to right,#ece9e6,#ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card img:hover{
    transform: scale(1.05);
}

button{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: black;
    color: white;
    cursor: pointer;
}

p{
    font-size: 12px;
}